{{ $data := index site.Data.header site.Language.Lang }} {{
$glossary := index site.Data.glossary site.Language.Lang }} {{
$scenes := index (index site.Data.scenes site.Language.Lang)
"scenes"}} {{ $existScenes := site.Taxonomies.scenes }} {{
$sMapping := dict "" ""}} {{ range $scenes }} {{ $sMapping = merge
$sMapping (dict .cSlug .)}} {{ end}} {{ $theme := index (index
site.Data.products site.Language.Lang) "theme"}} {{ $existtheme :=
site.Taxonomies.theme }} {{ $cMapping := dict "" ""}} {{ range
$theme }} {{ $cMapping = merge $cMapping (dict .cSlug .)}} {{ end}}
<div class="header-bar">
    <div class="nav logo">
        <a class="item" href="/#home" data-id="home"><img src=
        "/ui/logo.webp" alt="Logo"></a>
    </div>
    <div class="mainer">
        <div class="nav">
            <a class="item" href="/#home" data-id=
            "home">{{$glossary.home}}</a> <a class="item" href=
            "/news/about" data-id="about">About</a> <a class="item"
            href="/#news" data-id="news">{{$glossary.news}}</a>
            <a class="item" href="/#contact" data-id=
            "contact">{{$glossary.contact}}</a>
        </div>
        <div class="theme">
            <i class="fas fa-adjust"></i>
        </div><!-- <div class="lang">
            {{site.Language.Lang}}
            </div> -->
        <div class="menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</div>
